{{- $page := .page -}}
{{- $site := .site -}}
{{- $class := .class -}}
{{- $omithome := .omithome -}}
{{- $showlang := .showlang -}}{{/* not tested */}}

{{- if $class }}
      <ul class="{{- $class -}}">
{{- else -}}
      <ul>
{{- end }}

{{- range .menu -}}
{{- $is := $page.IsMenuCurrent "main" . -}}
{{- $has := $page.HasMenuCurrent "main" . -}}
{{- if (not (and $omithome $is)) }}
        <li><a href="{{ .URL | relLangURL }}">{{ .Name }}
	    {{- if (and .HasChildren (not $class)) -}}
	    <span class="menuHasChildren" style="float: right; font-size: 150%"><i class="fas fa-caret-right"></i></span>
	    {{- end -}}
	  </a>
  {{- if $showlang -}}
  {{- with .Page -}}
  {{- if .IsTranslated -}}
  (
  {{- range .Translations -}}
  <a href="{{ .Permalink }}"><img src="/flags/{{- .Lang -}}.png" class="langname" alt="[{{- humanize .Lang -}}]"></a>
  {{- end -}}
  )
  {{- end -}}
  {{- end -}}
  {{- end -}}

  {{- if .HasChildren }}
  {{ partial "menu.html" (dict "menu" .Children "page" $page "site" $site "showlang" $showlang) }}
  {{- end -}}
</li>
{{- end -}}
{{- end }}
      </ul>
